{% extends "./base.html"%}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="bg-gray-200 py-4 h-full sm:px-4 md:px-24 mheight">
{% if current_user.is_authenticated %}
    <p class="sm:text-xl md:text-2xl font-bold my-1">Welcome, {{ current_user.username }}</p>
{% endif %}

{% if current_user.bet_49ja.is_paid_bot %}
    {% if current_user.bet_49ja.has_compiled %}
        <p id="info">We have already compiled your 49ja bot paid version, click below to download and watch the instructions of how to set it up from the youtube video below</p> 
        <a class="bg-gray-500 hover hover:bg-gray-700 text-white absolute p-1 mt-2 py-2 px-2 rounded-lg" href="{{url_for('download')}}">Download Bot</a>
        <iframe class="mt-24 sm:w-full sm:h-64 md:px-48 md:h-96" src="https://www.youtube.com/embed/RvoPi85Zizk" frameborder="0"></iframe>
    {% elif current_user.bet_49ja.is_building %}
        <div id="loader" style="display: block;"></div>
        <p>Loading, currently building the bot for bet9ja user - <b>{{ current_user.bet_49ja.bet9ja_username }}</b>, this might take a while, Visit <a href='http://www.africonn.com' class='text-blue-500' target='_blank'>www.africonn.com</a> for the main time... or you close the tab for now, you will be sent a mail when done building, If the bot building takes too long Make a Request that would notify us</p>
    {% else %}    
        <p class="">Download the latest version of 49ja bot</p> 
        <input placeholder="your bet9ja username" class="border-2 border-gray-500 rounded-lg md:w-2/5 px-4 mt-4 mb-2 py-4 placeholder-green-100"  id="name" type="text" required>
        <p id="load"></p>
        <div id="loader"></div>
        <button class="bg-gray-500 hover hover:bg-gray-700 shadow-sm:hover text-white p-1 mt-2 py-4 px-8 rounded-lg" id="send_paid">Download Bot</button>
    {% endif %}
{% else %}
    <p class="text-lg" id="info">Pay to get the paid version of this bot, which cost ₦25,000, Watch the Youtube video below to see how it works</p>
    <button class="bg-white border-2 border-gray-500 rounded-lg hover hover:bg-gray-700 shadow-sm:hover text-gray-500 p-1 rounded-lg sm:mt-1 md:mt-2 md:py-4 md:px-8 sm:py-2 sm:px-4 sm:text-lg md:text-lg" id="buy_bot">buy</button>
    <iframe class="mt-24 sm:w-full sm:h-64 md:px-48 md:h-4/5" src="https://www.youtube.com/embed/qJiq76Z5sTw" frameborder="0"></iframe>
{% endif %}
</div>    

    {% if not current_user.bet_49ja.is_paid_bot %}
        <script>
            let buy_bot = document.getElementById("buy_bot")
            if(buy_bot){
                buy_bot.addEventListener("click", async () =>{
                        window.location.href = "/paystack"
                })
            }
        </script>
    {% else %}
        <script>
            let loading = document.getElementById("load")
            let paid_button = document.getElementById("send_paid")
            paid_button.addEventListener("click", async () =>{
                let name = document.getElementById("name").value
                if(name){
                    if((/\s/).test(name)) return alert(`your bet9ja username must not contain space`)
                    loading.innerText = "Loading, currently building the app this might take a while, Visit <a href='www.africonn.com'>africonn.com</a> for the main time..."
                    $("#loader").show()
                    
                    let res = await fetch(`/notify-and-compile?q=${name}`)

                }
                else{
                    alert("You must enter user bet9ja username")
                }
            })
        </script>
    {% endif %}
{% endblock %}