{% extends "./base.html"%}
{% block title %}Home{% endblock %}
{% block content%}
<div class="grid sm:block sm:px-3 md:px-24">
    <div class="sm:mt:2 md:mt-48">
        <h1 class="text-gray-700 font-semibold md:text-5xl sm:text-xl">Make Money with 49ja</h1>
        <p class="text-gray-600 py-4 md:text-3xl sm:text-md font-normal">
            Stop looking for how to make millions overnight from bet9ja, it might never happen.
            Why not make 10% atleast percent profit of your starting Capital daily, using our bet9ja 49ja automatic betting bot.
            TRY IT OUT FOR 12 HOURS FREE
        </p>
        <div class="flex">
            <a href="/request" class="rounded-lg bg-green-400 text-white md:text-2xl md:py-4 md:px-8 sm:text-md sm:py-2 sm:px-4">Make a Request</a>
        </div>
    </div>
    <div>
        <img src="static/money.svg" class="md:block sm:hidden" alt="" srcset="">
    </div>
</div>
        
<div class="ungrid sm:mt-4 sm:px-3 md:mt-6 md:px-24">
    <div>
        <img src="static/question.svg" alt="" srcset="">
    </div>
    <div>
        <h1 class="text-gray-700 text-4xl font-bold">FAQS</h1>
<div class="py-4 flex">
    <div>
        <img src="static/qa.png" class="qa"  alt="" srcset="">
    </div>
    <div>
    <h1 class="text-gray-700 sm:text-xl font-bold mb-2 md:text-3xl">WHAT IS THE BOT ALL ABOUT?</h1> 
        <p class="text-gray-600 sm:text-md md:text-2xl">
            The bot is a software that places trade on bet9ja, 49ja casino platform automatically.
            The aim of the bot is make 10% of your capital daily.    
        </p>
    </div>
</div>
<div class="py-4 flex">
    <div>
        <img src="static/qa.png" class="qa"  alt="" srcset="">
    </div>
    <div>
        <h1 class="text-gray-700 sm:text-xl font-bold mb-2 md:text-3xl">DOES THE BOT WORKS ON ANY OTHER BETTING SITE?</h1>
        <p class="text-gray-600 sm:text-md md:text-2xl" >No, it works on bet9ja 49ja casino platform only.</p>
    </div>
</div>
<div class="py-4 flex">
    <div>
        <img src="static/qa.png" class="qa"  alt="" srcset="">
    </div>
    <div>
    <h1 class="text-gray-700 sm:text-xl font-bold mb-2 md:text-3xl">DOES THE BOT WORKS ON ANY OTHER BETTING SITE?</h1> 
        <p class="text-gray-600 sm:text-md md:text-2xl">
            No, it works on bet9ja 49ja casino platform only.   
        </p>
    </div>
</div>
<div class="py-4 flex">
    <div>
        <img src="static/qa.png" class="qa"  alt="" srcset="">
    </div>
    <div>
        <h1 class="text-gray-700 sm:text-xl font-bold mb-2 md:text-3xl">DOES THE BOT BETS ON 100% SIGNALS ?</h1>
        <p class="text-gray-600 sm:text-md md:text-2xl">In betting there is no 100%.However the bot bets with 80_90 accuracy on signals,making you 10 profit daily.</p>
    </div>
</div>

<div class="py-4 flex">
    <div>
        <img src="static/qa.png" class="qa"  alt="" srcset="">
    </div>
    <div>
        <h1 class="text-gray-700 sm:text-xl font-bold mb-2 md:text-3xl">CAN'T I MAKE MORE THAN 10% PERCENT PROFIT DAILY?</h1>
        <p class="text-gray-600 sm:text-md md:text-2xl">Using the bot you set the profit limit to what you want,but you are strictly advise to set it at 10% profit daily.you can watch the video above for more explanation on that.</p>        
    </div>
</div>

<div class="py-4 flex">
    <div>
        <img src="static/qa.png" class="qa"  alt="" srcset="">
    </div>
    <div>
        <h1 class="text-gray-700 sm:text-xl font-bold mb-2 md:text-3xl">HOW MUCH IS THE BOT?</h1>
        <p class="text-gray-600 sm:text-md md:text-2xl">The price for the premium version of the  bot is #30,000,but you can test it out for 24 hours free before buying to test it's accuracy.</p>        
    </div>
</div>


<div class="py-4 flex">
    <div>
        <img src="static/qa.png" class="qa"  alt="" srcset="">
    </div>
    <div class="sm:ml-2 md:ml-4">
        <h1 class="text-gray-700 sm:text-xl font-bold mb-2 md:text-3xl">I HAVE A STRATEGY AND I WANT TO  MAKE A BOT FOR IT.
            DO YOU ALSO OFFER THIS SERVICE?</h1>
        <p class="text-gray-600 sm:text-md md:text-2xl">Yes, we also offer the services of creating any kind of betting bot for clients.
            You can contact us on WhatsApp.</p>    
    </div>
</div>
    </div>
</div>







{% endblock %}